@using Kutuphanem
@model IEnumerable<Kutuphanem.Models.Siparis>

@{
    ViewBag.Title = "Gelen Sipariş";
    Kutuphanem.Models.Kutuphane db = new Kutuphanem.Models.Kutuphane();
}
<style>
    .kirmizi {
        background-color: red;
        color: white;
    }
            .kirmizi td {
            background-color: red;
            color: white;
        }
</style>
<h2>Gelen Sipariş</h2>
<p>
    <a href="/Kullanicilar/YoneticiGiris"
</p>
<table class="table">
    <tr>
        <th>
            Seç
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KitapID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KullaniciID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Miktar)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tutar)
        </th>
        <th>
            Stokta Var mı?
        </th>
        <th>
            stok
        </th>
        <td>
            İstenilen Miktar
        </td>
        <th>
            Kitap Siparişi Ver
        </th>
    </tr>

    @foreach (var item in Model)
    {
        string ids = item.ID + "_siparis";

        string stylekirmizi = "";
        var kullanici = db.Kullanici.Where(s => s.ID == item.KullaniciID).FirstOrDefault();
        var kitap = db.Kitap.Where(s => s.ID == item.KitapID).FirstOrDefault();
        int stok = kitap == null ? 0 : Convert.ToInt32(db.Kitap.Where(s => s.ID == item.KitapID).FirstOrDefault().Miktar);

        if (item.Miktar > stok)
        {
            stylekirmizi = "kirmizi";
        }
  
<tr class="@stylekirmizi">
    <td>
        <label> <input type="checkbox" class="ck" data-id="@item.ID" name="" value=""> Seç</label>
    </td>

    <td>
        <input type="hidden" class="urun" name="name" value="@item.ID" />

        @Html.DisplayFor(modelItem => item.KitapID)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.KullaniciID)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Miktar)
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.Tutar)
    </td>
    <td>
        @{
            if (item.Miktar < stok)
            {
                <label> <input type="checkbox" checked="checked" id="vehicle1" name="" value="" disabled>Stokta Var mı?</label>
            <td>
                @stok
            </td>
        }
        else
        {
            <label style="color:white"> <input type="checkbox" id="vehicle1" name="" value="" disabled>Stokta Var mı?</label>
           
        }

        }
        <td >
                @stok

            </td>
        <td style="color:white">
            <input type="text" name="name" class="form-control" id="istenilenMiktar_@item.ID" value="@item.Miktar" />
        </td>
        <td>
            <a class="btn btn-success" data-id="@item.ID" onclick="onaylaSatir(@item.ID)"><i class="glyphicon glyphicon-check"></i> Onayla</a>

        </td>

    </tr>
}

</table>

@section scripts{

    <script>
        function onaylaSatir(id) {
            var idler = [];
            $(".urun").each(function (kitapEviGelenSiparis) {
                var id = $(this).val();
                idler.push(id);
            });

            var miktar = $("#istenilenMiktar_" + id).val();
            $.post("/Sepet/SiparisSatirOnayla", { id: idler, miktar: miktar }, function (data) {
                if (data == true) {
                    window.location.reload();
                }
            });

        }
        function onayla() {
            var seciliidler = [];
            $('.ck').each(function () {
                var satirId = $(this).attr("data-id");
                var sec = $(this).is(':checked');
                if (sec) {
                    seciliidler.push(satirId);

                }
            });


            $.post("/Sepet/SiparisOnayla", { secili: seciliidler }, function (data) {
                if (data == true) {
                    window.location.reload();
                }
            });

            $('document').ready(function () {
                $(':checkbox').attr('onclick', 'javascript:renkver(this)');
            });

        }

    </script>

}

